.control--menu {
    padding: 7px;
    background: #6d6d6d;
    margin-bottom: 30px;
}

.control--menu a {
    color: white;
}

.pt-4,
.py-4 {padding: 0px !important;}

.m-checkbox {padding: 8px 10px; background-color: grey; margin-bottom: 5px;border-radius: 10px;}
.media {background-color: white; padding: 10px;box-shadow: 1px 1px 1px 1px #eee;}
.resim {width: 90px;height:90px;}
a.title {display: block;}
.media-body.description {margin-bottom: 10px;}
.tag--list {padding: 5px; background: #bcb5b5; border-radius: 5px;}
.detail{margin-top: 5px;background-color:rgb(234, 224, 224) ;padding: 5px;}
.isCorrect{padding: 3px; border: 2px dotted green;}
